@media only screen and (min-width: 32.5em) {
    .course-name {
        font-size: 3.5em;
    }

    .course-name2 {
        font-size: 3.5em;
    }
    
    .profile {
        height: 11em;
        width: 11em;
        border-radius: 50%;
        float:left;
    }
    .main-header {
        box-shadow: 10px 10px 5px gray;
    }

}